@page
@model JSJMExoticCarsWebApp.Models.Car
@{
    ViewData["Title"] = "Add Car";
}

<link rel="stylesheet" href="css/addCar.css" />

<div style="text-align: center";>
    <h1>Add car to sell.</h1>
        <form method="post">
            <label asp-for="@Model.carModel">Car Model:</label>
            <input type="text" id="carModel" name="carModel"><br>
            <label asp-for="@Model.carBrand">Car Brand:</label>
            <input type="text" id="carBrand" name="carBrand"><br>
            <label asp-for="@Model.yearModel">Year Model:</label>
            <input type="number" id="yearModel" name="yearModel"><br>
            <label asp-for="@Model.description">Description:</label>
            <input type="text" id="description" name="description"><br>
            <label asp-for="@Model.mileage">Mileage:</label>
            <input type="number" id="mileage" name="mileage"><br>
            <label asp-for="@Model.price">Price:</label>
            <input type="number" id="price" name="price"><br>
            <input type="submit" value="Sell Car">
        </form>

</div>