@page
@model JSJMExoticCarsWebApp.Models.Car
@{
    ViewData["Title"] = "Add Car";
}

<link rel="stylesheet" href="css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="css/addCar.css" />

<div style="text-align: center";>
    <h1>Add car to sell.</h1>
        <form method="post">
            <label>Car Model:</label>
            <input asp-for="@Model.CarModel" type="text" id="CarModel" name="CarModel"><br>
            <label>Car Brand:</label>
            <input asp-for="@Model.CarBrand" type="text" id="CarBrand" name="CarBrand"><br>
            <label>Year Model:</label>
            <input asp-for="@Model.YearModel" type="number" id="YearModel" name="YearModel"><br>
            <label>Description:</label>
            <input asp-for ="@Model.Description" type="text" id="Description" name="Description"><br>
            <label>Mileage:</label>
            <input asp-for="@Model.Mileage" type="number" id="Mileage" name="Mileage"><br>
            <label>Price:</label>
            <input asp-for="@Model.Price" type="number" id="Price" name="Price"><br>
            <button type="submit">Sell Car</button>
        </form>

</div>