@page
@model EditCarDetailsModel

@{
    ViewData["Title"] = "Edit Car Details";
}

<link rel="stylesheet" href="css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="css/addCar.css"/>

<div style="text-align: center";>
    <h1>Edit Car Details</h1>
        <form method="post">
            <label>Car Model:</label>
            <input asp-for="@Model.car.CarModel" type="text" id="CarModel" name="CarModel"><br>
            <label>Car Brand:</label>
            <input asp-for="@Model.car.CarBrand" type="text" id="CarBrand" name="CarBrand"><br>
            <label>Year Model:</label>
            <input asp-for="@Model.car.YearModel" type="number" id="YearModel" name="YearModel"><br>
            <label>Description:</label>
            <input asp-for ="@Model.car.Description" type="text" id="Description" name="Description"><br>
            <label>Mileage:</label>
            <input asp-for="@Model.car.Mileage" type="number" id="Mileage" name="Mileage"><br>
            <label>Price:</label>
            <input asp-for="@Model.car.Price" type="number" id="Price" name="Price"><br>
            <label>Transmission Type:</label>
            <select asp-for="@Model.car.TransmissionType" id="TransmissionType" name="TransmissionType">
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
            </select><br>
            <label>Fuel:</label>
            <select asp-for="@Model.car.FuelType" id="FuelType" name="FuelType">
                <option value="Gas">Gas</option>
                <option value="Diesel">Diesel</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Electric">Electric</option>
            </select><br>
            
            <button type="submit" name="submitAction" value="update">Update Car</button>
            <button type="submit" name="submitAction" value="delete">Delete Car</button>
        </form>

</div>