@page
@model MarketModel
@{
    ViewData["Title"] = "Market Place";
}

<link rel="stylesheet" href="css/carlist.css" />

<div style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to display cars.</p><br>

    @foreach (Models.Car car in Model.Cars)
    {
        if(car.Listed == true)
        {
            <div class="carobject">
                <p>Brand: @car.Brand, Model: @car.Model, Model year: @car.ModelYear</p>
                <p>Milage: @car.Mileage km</p>
                <p>Transmission: @car.Transmission, Fuel: @car.Fuel</p>
            </div><br>
        }
    }


    <button onclick="location.href='@Url.Page("/AddCar")'" class="btn btn-primary">Add Car</button>
    <button onclick="location.href='@Url.Page("/ShowCars")'" class="btn btn-primary">Show Car</button>
</div>



