@page
@model MarketModel
@{
    ViewData["Title"] = "Market Place";
}

<link rel="stylesheet" href="css/carstyle.css" />

<form method="post" style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to display cars.</p><br>


    @foreach (Models.Car car in Model.Cars)
    {
        if(car.Listed == true)
        {
            <div class="carobject" onclick="location.href='@Url.Page("/ShowCar", new { id = car.Id })'">
                <p>Brand: @car.Brand, Model: @car.Model, Model year: @car.ModelYear</p>
                <p>Milage: @car.Mileage km</p>
                <p>Transmission: @car.Transmission, Fuel: @car.Fuel</p>
                <p>Price: @car.Price kr</p>
            </div><br>
        }
    }


    <button asp-page-handler="AddCarPage" class="btn btn-primary">Add Car</button>
    @if (Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
    }
</form>



