@page
@model JSJMExoticCarsWebApp.Pages.MyAccountModel
@{
	ViewData["Tittle"] = "My Account";
}

<link rel="stylesheet" href="css/newstyle.css" asp-append-version="true" />

<div style="text-align: center">
    <div class="InfoBox">
        <label for="name">Username:</label>
        <input class="TextBox" type="text" readonly value="@Model.Session.Name" />
    </div>
    <div class="InfoBox">
        <label for="funds">Your funds:</label>
        <input class="TextBox" type="text" readonly value="@Model.Session.Funds" />
    </div> <br />
    <a href="/AddFunds">
        <button>Add Funds</button>
    </a>
</div> 
 <h1 style="text-align:center;">Your cars</h1>
 <div>
    @foreach (Models.Car car in Model.Session.Cars)
    {
        <div class="carobject" onclick="location.href='@Url.Page("/ShowCar", new { id = car.Id })'">
            <p>Brand: @car.Brand</p>
            <p>Model: @car.Model</p>
            <p>Model year: @car.ModelYear</p>
            <p>Milage: @car.Mileage km</p>
            <p>Description: @car.Description</p>
            <p>Transmission: @car.Transmission</p>
            <p>Fuel: @car.Fuel</p>
            <p>For sale: @car.Listed</p>
            <p>Price: @car.Price kr</p>
        </div>
        <br>
    }
</div>

