@page
@model JSJMExoticCarsWebApp.Pages.ShowCarModel;
@{
    ViewData["Title"] = "Car Details";
}

<link rel="stylesheet" href="css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="css/carstyle.css"/>


<div style="text-align: center" ;>
    <h1>Car Details</h1>
    <form method="get">
        <div class="car-details">
            <label>Car Model:</label>
            <div>@Model.Car.Model</div><br />
            <label>Car Brand:</label>
            <div>@Model.Car.Brand</div><br />
            <label>Year Model:</label>
            <div>@Model.Car.ModelYear</div><br />
            <label>Description:</label>
            <div>@Model.Car.Description</div><br />
            <label>Mileage:</label>
            <div>@Model.Car.Mileage</div><br />
            <label>Transmission Type:</label>
            <div>@Model.Car.Transmission</div><br />
            <label>Fuel Type:</label>
            <div>@Model.Car.Fuel</div><br />
            <label>Price:</label>
            <div>@Model.Car.Price</div><br />
        </div>
    </form>
    <br />
    <button onclick="location.href='@Url.Page("/EditCar", new { id = @Model.Car.Id })'">Edit Car</button>
</div>